@font-face {
    font-family: 'Tiny';
    src: url('assets/fonts/webfontsTiny/TINY5x3-140.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NectoMono';
    src: url('../assets/fonts/Web/NectoMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'NectoMono', sans-serif;
}
html{
  background-color:rgb(213, 214, 234);
  overflow: hidden;
}
.container {
    display: flex;
    height: 100vh;
}
.marquee:hover {
    animation-play-state: paused;
    color:#473BF0!important ;
    
    
}
@media screen and (max-width: 768px) {
    canvas{
      display: none;
    }
    html{
      background-color: #000500;
    }
    .sidebar {
        width: 50%; /* Ajusta el ancho de la barra lateral según tus necesidades */
        background-color: rgb(213, 214, 234); /* Color de fondo de la barra lateral */
        display: flex;
        flex-direction: column; /* Asegura que el contenido adicional esté debajo del nombre */
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden; /* Oculta cualquier cosa fuera de los límites de la barra lateral */
        padding-left: 20px;
        
    }

    .main-content {
        flex: 1; /* Esta propiedad hace que el contenido principal ocupe el espacio restante */
        display: flex;
        flex-direction: column;
        justify-content: flex-end; /* Alinea el contenido principal en la parte inferior */
        align-items: flex-end; /* Alinea el contenido principal a la derecha */
        padding: 20px 20px 50px 20px;
        text-align: right;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    ul li {
        margin-bottom: 10px;
    }

    ul li a {
        text-decoration: none;
        color: rgb(213, 214, 234); /* Color de los enlaces */
    }

    ul li a:hover {
        color: #473BF0; /* Cambia este color según sea necesario */
    }

    .marquee {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; /* Asegura que el contenido comience desde la parte superior */
        align-items: center;
        height: 80%; /* Ajusta el alto para dejar espacio al texto adicional */
        animation: scroll-vertical 10s linear infinite;
    }

    .rotated-name {
        transform: rotate(90deg);
        white-space: nowrap; /* Evita que el nombre se divida en varias líneas */
        font-family: 'Tiny';
        font-size: 12rem;
        padding: 20px 0; /* Ajusta el padding para un mejor loop */
    }

    .additional-info {
        
        padding: 20px 20px 0px 0px!important; /* Coloca el texto adicional al final del contenedor */
        font-size: .9rem; /* Ajusta el tamaño del texto adicional según sea necesario */
    }
    #mariana{
        margin-bottom: 0px;
        font-size: 1.8rem;
        
    }
    #diseñadora{
        margin-top: 5px;
        font-size: 1.2rem;
        
    }

    @keyframes scroll-vertical {
        0% {
            transform: translateY(150%);
        }
        100% {
            transform: translateY(-100%);
        }
    }
}


@media screen and (min-width: 769px) and (max-width: 1224px) {
  canvas {
    mix-blend-mode: normal;
    display: block;
    position: absolute;
    top: 250px;
    left: -80px;
    z-index: -1;
    width: 300px;
  }
  .sidebar {
    width: 100%; /* Cambia el ancho de la barra lateral al 100% del viewport */
    height: 100vh; /* Ajusta la altura al 100% del viewport */
    flex-direction: row; /* Cambia la dirección del flujo de los elementos a horizontal */
    justify-content: space-between; /* Alinea los elementos horizontalmente y distribuye el espacio */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    padding: 20px; /* Ajusta el relleno para dispositivos de tamaño de laptop */
  }

  .main-content {
    flex: 1; /* Esta propiedad hace que el contenido principal ocupe el espacio restante */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Alinea el contenido principal en la parte inferior */
    align-items: flex-end; /* Alinea el contenido principal a la derecha */
    padding: 20px 20px 50px 20px;
  }
  #mariana{
    margin: 20px 0px 0px 20px;
    font-family: 'Tiny';
    font-size: 5rem;
    color: #000500;
    line-height: 1rem;
  }
  #diseñadora{
    padding: 0px 0px 20px 20px;
    font-size: 2rem;
    color: #000500;
    margin: 0;
  }

  .marquee {
    display: none; /* Oculta la animación de marquesina en dispositivos de tamaño de laptop */
  }

  ul {
    margin: 0; /* Elimina el margen de la lista de enlaces */
  }

  ul li {
    display: inline-block; /* Muestra los elementos de la lista en línea */
    margin-right: 20px; /* Agrega un margen entre los enlaces */
    text-decoration: none;
    
  }
  
  ul li a {
    text-decoration: none;
    color: rgb(0, 5, 0);
  }
  ul li a:hover {
        color: #473BF0; /* Cambia este color según sea necesario */
    }
  ul li:last-child {
    margin-right: 0; /* Elimina el margen del último elemento de la lista */
  }
  .additional-info{
    margin-top: 100px;
    font-size:10rem;
    line-height: 6rem;
  }
}
@media screen and (min-width: 1225px) {
canvas {
  mix-blend-mode: normal;
  display: block;
  position: absolute;
  top: 300px;
  z-index: -1;
  width: 300px;
}


 .sidebar {
        width: 80%; /* Cambia el ancho de la barra lateral al 100% del viewport */
        height: 100vh; /* Ajusta la altura al 100% del viewport */
        flex-direction: row; /* Cambia la dirección del flujo de los elementos a horizontal */
        justify-content: space-between; /* Alinea los elementos horizontalmente y distribuye el espacio */
        align-items: center; /* Alinea los elementos verticalmente al centro */
        padding: 20px; /* Ajusta el relleno para dispositivos de tamaño de laptop */
    }

    .main-content {
         flex: 1; /* Esta propiedad hace que el contenido principal ocupe el espacio restante */
        display: flex;
        flex-direction: column;
        justify-content: flex-end; /* Alinea el contenido principal en la parte inferior */
        align-items: flex-end; /* Alinea el contenido principal a la derecha */
        padding: 20px 20px 50px 100px;
    }
    #mariana{
        margin: 20px 0px 0px 20px;
        font-family: 'Tiny';
        font-size: 9rem;
        color: #000500;
        letter-spacing: -.3rem;
    }
     #mariana:hover {
        color: #473BF0; /* Cambia este color según sea necesario */
    }
    #diseñadora{
        padding: 0px 0px 20px 20px;
        font-size: 2rem;
        color: #000500;
    }

    .marquee {
        display: none; /* Oculta la animación de marquesina en dispositivos de tamaño de laptop */
    }

    ul {
        margin: 0; /* Elimina el margen de la lista de enlaces */
    }

    ul li {
        display: inline-block; /* Muestra los elementos de la lista en línea */
        margin-right: 20px; /* Agrega un margen entre los enlaces */
        text-decoration: none;
        
    }
    
    ul li a {
        text-decoration: none;
        color: rgb(0, 5, 0);;
    }

    ul li:last-child {
        margin-right: 0; /* Elimina el margen del último elemento de la lista */
    }
     ul li a:hover {
        color: #473BF0; /* Cambia este color según sea necesario */
    }
    .additional-info{
        
        font-size:10rem;
        line-height: 6rem;
    }
  }